footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 150px;
  margin-top: 40px;
  border-top: 1px solid var(--border-color);
}

footer p {
  font-size: 20px;
  font-weight: 900;
  padding-left: 15px;
}

.footer_logo img {
  height: 40px;
}

a {
  text-decoration: none;
  height: 30px;
}

a img {
  height: 30px;
}

.footer_logo {
  display: flex;
  align-items: center;
}

.footer_logo img:last-child {
  display: none;
}

.dark_mode .footer_logo img:first-child {
  display: none;
}

.dark_mode .footer_logo img:last-child {
  display: block;
}

svg {
  height: 30px;
  width: 30px;
  fill: var(--primary-color);
}
