nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px;
    border-bottom: 1px solid #e1e1e1;
    background-color: white;
}

nav h1 {
    font-weight: 900;
}