.app {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.app_tasks_area {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.task_column {
  width: 25%;
  margin: 20px;
}
